<h2>From stardust to diamond xD</h2>
<form action="/celebrities" method="POST">
	<label for="name">name</label>
	<input type="text" name="title" id="title" required>
	<label for="occupation">occupation</label>
	<input type="text" name="author" id="author">
	<label for="catchPhrase">catchPhrase</label>
	<input type="text" name="description" id="description">
	<button type="submit">This is how the star is born</button>
</form>