<h2> for the page's heading.
Display tags with the celebrity's name, occupation and catchPhrase.


<h2>CHEAP SHOW</h2>
{{#each}}

{{name}}
{{occupation}}
{{catchPhrase}}

<a href="/celebrities/{{_id}}">See that one star</a>
{{/each}}